.contactList {
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
}

.contact {
  width: 320px;
  display: flex;
  justify-content: space-between;
  gap: 2em;
  border: 1px solid #333333;
  border-radius: 5px;
  padding: 0.5em;
  align-items: center;
}
